@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 43, 48, 59; /* Dark blue */
    --background-end-rgb: 27, 31, 38; /* Lighter blue */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  display: flex;
  align-items: center; /* Center align the content vertically */
  justify-content: center; /* Center align the content horizontally */
  min-height: 100vh; /* Set a minimum height for the body */
  padding: 1rem;
}

.container {
  max-width: 400px; /* Adjust the max-width to your preference */
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a box shadow for the frame */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

form {
  margin-top: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  border: 1px solid #d1d5db; /* Add a border for the input fields */
  appearance: none; /* Added appearance property */
  background-color: rgb(var(--background-start-rgb)); /* Set the background color of the input */
  color: rgb(var(--foreground-rgb)); /* Set the color of the input text */
}

button {
  padding: 0.5rem 1rem;
  background-color: #4a5568;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out; /* Add a transition for smoother color change */
}

button[type="submit"] {
  background-color: #1f3a71;
}

button[type="button"] {
  background-color: #6b7280;
}

/* Add a hover effect for the buttons */
button:hover {
  background-color: #718096;
}

/* Add a focus effect for the buttons */
button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}
