@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  margin: 0; /* Added margin to the body */
  padding: 1rem; /* Added padding to the body */
}

.container {
  max-width: 400px; /* Adjust the max-width to your preference */
  margin: 0 auto; /* Center align the container */
  padding: 1rem; /* Added padding to the container */
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0; /* Removed margin-top from headings */
}

form {
  margin-top: 1rem; /* Added margin-top to forms */
}

label {
  display: block;
  margin-bottom: 0.5rem; /* Added margin-bottom to labels */
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
  width: 30%;
  padding: 0.5rem;
  margin-bottom: 1rem; /* Added margin-bottom to inputs */
  border-radius: 0.25rem; /* Added border-radius for rounded edges */
  
}

button {
  padding: 0.5rem 1rem;
  background-color: #4a5568;
  color: white;
  border: none;
  cursor: pointer;
}

button[type="submit"] {
  background-color: #1a202c;
}

button[type="button"] {
  background-color: #6b7280;
}
