footer {
    background-color: var(--header-background);
    color: var(--color-primary);
    padding: 1rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    position: relative;
  }
  .footer-text {
    margin-bottom: 0.5rem;
  }
  