/* headerStyles.css */
header {
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%;
  height: 80px; /* Adjust the height as per your preference */
  background: linear-gradient(to right, #bdc2e1, #ebe0e0); /* Horizontal gradient for light mode */
  color: #b7dce8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

a[href="/login"] {
  color: #000000; /* Change the color as per your preference */
}

a[href="/register"] {
  color: #000000; /* Change the color as per your preference */
}


a[href="/poll_create"] {
  
  color: #000000; /* Change the color as per your preference */
}

@media (prefers-color-scheme: dark) {
  header {
    background: linear-gradient(to right, #2c3b9b, #16045c);
    color: #fff;
  }
  a[href="/login"] {
    color: #ffffff; /* Change the color as per your preference */
  }
  
  a[href="/register"] {
    color: #ffffff; /* Change the color as per your preference */
  }

  a[href="/poll_create"] {
    color: #ffffff; 
    margin-left: auto;
  }
}

.logo img {
  margin-left: 5px;
  padding: 10px;
  height: 70px; /* Adjust the height as per your preference */
}



nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-left: 1rem;
  margin-right: 2rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}
