/* headerStyles.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;1,300&display=swap');
header {
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%;
  height: 80px; /* Adjust the height as per your preference */
  background: var(--header-background);/* Horizontal gradient for light mode */
  color: var(--color-dark);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  margin: auto;
}

a[href="/login"] {
  color: var(--color-dark); /* Change the color as per your preference */
}

a[href="/register"] {
  color: var(--color-dark); /* Change the color as per your preference */
}


a[href="/poll_create"] {
  
  color: var(--color-dark); /* Change the color as per your preference */
}

@media (prefers-color-scheme: dark) {
  header {
    background: var(--header-background);
    color: var(--color-dark);
  }
  a[href="/login"] {
    color: var(--color-dark); /* Change the color as per your preference */
  }
  
  a[href="/register"] {
    color: var(--color-dark); /* Change the color as per your preference */
  }

  a[href="/poll_create"] {
    color: var(--color-dark); 
    margin-left: auto;
  }
}


.logo img {
  filter: drop-shadow(0 0 1px #000000);
  margin-left: 20px;
  padding: 10px;
  height: 90px; /* Adjust the height as per your preference */
}



nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-left: 1rem;
  margin-right: 2rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}


/* mode switch */
.toggle-container {
  display: flex;
  align-items: center;
}

.toggle-icon {
  cursor: pointer;
}

.toggle-icon.sun {
  color: #fdd835;
  font-size: 1.5rem; /* Set the color for the sun icon */
}

.toggle-icon.moon {
  color: #3f51b5;
  font-size: 1.5rem; /* Set the color for the moon icon */
}

.toggle-icon.sun:hover,
.toggle-icon.moon:hover {
  opacity: 0.8; /* Set the opacity when hovering over the icons */
}

.toggle-icon.sun:before,
.toggle-icon.moon:before {
  display: inline-block;
  margin-right: 8px;
  font-size: 20px;
}

.toggle-icon.sun:before {
  content: '\f185'; /* Set the content to the sun icon's unicode */
  font-family: 'Font Awesome 5 Free';
}

.toggle-icon.moon:before {
  content: '\f186'; /* Set the content to the moon icon's unicode */
  font-family: 'Font Awesome 5 Free';
}


/* declaring the css variables colors */
:root {
  --color-primary-accent: #2614c7;
  --color-primary: #000;
  --color-button: #3d486c;
  --color-border: #000;
  --color-paragraph: #797979;
  --color-button-text: rgb(255, 255, 255);
  --color-background: #e7e7e7;
  --color-dark: rgb(0, 0, 0);
  --color-poll-date: #000000ab;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 191, 219, 226; /* Light blue/cyan */
  --background-end-rgb: 255, 255, 255;
  --header-background: linear-gradient(to right,   #b6d5fa, #93b5e4);
  --card-background-color: rgba(145, 181, 216, 0.664);
  --color-submit-buttom: #204a9e;
  --color-comment-background: #c9d4e7;
  --color-333: #fff;
  --color-pagination-background: #edecec;
}

[data-theme='dark'] {
  --color-primary-accent: #00ff4c;
  --color-primary: #fff;
  --color-button: #00ff4c;
  --color-border: #ccc;
  --color-paragraph: #8a8a8a;
  --color-button-text: rgb(0, 0, 0);
  --color-background: #22212b;
  --color-dark: #b7dce8;
  --color-poll-date: rgba(240, 227, 227, 0.719);
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 40, 39, 59; /* Dark blue */
  --background-end-rgb: 62, 87, 130; 
  --header-background: linear-gradient(to right, #1e1361, #2b3497);
  --card-background-color: rgba(35, 37, 65, 0.75);
  --color-submit-buttom: #1e1361;
  --color-comment-background: #334564;
  --color-333: #333;
  --color-pagination-background: #11038d;
}

body {
  background-color: var(--color-background);
  color: var(--color-primary);
}
/* adding some custom CSS */

nav .mybrand {
  color: var(--color-primary);
}
