/* headerStyles.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
header {
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%;
  height: 80px; /* Adjust the height as per your preference */
  background: var(--header-background);/* Horizontal gradient for light mode */
  color: var(--color-dark);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  margin: auto;
  box-shadow: 0 0.5px 2px var(--color-dark);
  z-index: 3; 
}

a[href="/login"] {
  color: var(--color-dark); /* Change the color as per your preference */
}

a[href="/register"] {
  color: var(--color-dark); /* Change the color as per your preference */
}


a[href="/poll_create"] {
  
  color: var(--color-dark); /* Change the color as per your preference */
}

@media (prefers-color-scheme: dark) {
  header {
    background: var(--header-background);
    color: var(--color-dark);
  }
  a[href="/login"] {
    color: var(--color-dark); /* Change the color as per your preference */
  }
  
  a[href="/register"] {
    color: var(--color-dark); /* Change the color as per your preference */
  }

  a[href="/poll_create"] {
    color: var(--color-dark); 
    margin-left: auto;
  }
}


.logo img {
  filter: drop-shadow(0 0 1px #000000);
  margin-left: 20px;
  padding: 10px;
  height: 90px;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center; /* Add this line to align items vertically */
}

nav ul li {
  margin-left: 1rem;
  margin-right: 2rem;
  display: flex; /* Add this line to make the li items flex containers */
  align-items: center; /* Add this line to align the content of li items vertically */
}


nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}


/* mode switch */
.toggle-container {
  display: flex;
  align-items: center;
}

.toggle-icon {
  cursor: pointer;
  transition: color 0.3s ease; 
}

.toggle-icon.sun {
  color: #fdd835;
  font-size: 1.5rem; /* Set the color for the sun icon */
}

.toggle-icon.moon {
  color: #3f51b5;
  font-size: 1.5rem; /* Set the color for the moon icon */
}

.toggle-icon.sun:hover,
.toggle-icon.moon:hover {
  opacity: 0.8; /* Set the opacity when hovering over the icons */
}

.toggle-icon.sun:before,
.toggle-icon.moon:before {
  display: inline-block;
  margin-right: 8px;
  font-size: 20px;
  transition: opacity 0.3s ease; 
}

.toggle-icon.sun:before {
  content: '\f185'; /* Set the content to the sun icon's unicode */
  font-family: 'Font Awesome 5 Free';
}

.toggle-icon.moon:before {
  content: '\f186'; /* Set the content to the moon icon's unicode */
  font-family: 'Font Awesome 5 Free';
}

.icon {
  margin-right: 5px;
}



/* declaring the css variables colors */
:root {
  --color-primary-accent: #2614c7;
  --color-primary: #000;
  --color-button: #797979;
  --color-border: #000;
  --color-paragraph: #797979;
  --color-button-text: rgb(255, 255, 255);
  --color-background: rgb(248, 246, 244);
  --color-dark: rgb(0, 0, 0);
  --color-poll-date: #000000ab;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: rgb(174, 226, 255);/* Light blue/cyan */
  --background-end-rgb: 255, 255, 255;
  --header-background: linear-gradient(to right,   #f2f2f2, #f2f2f2);
  --card-background-color: #f2f2f2;
  --poll-background-color: #ffffff;
  --color-submit-buttom: #204a9e;
  --color-comment-background: #f2f2f2;
  --color-333: #fff;
  --color-pagination-background: #edecec;
  --color-scheme: light;
  --color-inactive: rgb(114, 113, 113);
  --color-table: #dddbdb;
  --color-table-button: #a2b8e4;
  --color-delete-button: #ec9c9c;
  --color-checkbox-bg: rgb(56, 95, 221); 
  --progress-bar-color: rgb(210, 237, 247); 
  --border-color: #59b8d7;
}

[data-theme='dark'] {
  --color-primary-accent: #00ff4c;
  --color-primary: #fff;
  --color-button: #929292;
  --color-border: #ccc;
  --color-paragraph: #8a8a8a;
  --color-button-text: rgb(0, 0, 0);
  --color-background: #22212b;
  --color-dark: #b7dce8;
  --color-poll-date: rgba(240, 227, 227, 0.719);
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 40, 39, 59; /* Dark blue */
  --background-end-rgb: 62, 87, 130; 
  --header-background: linear-gradient(to right, #1e1361, #2b3497);
  --card-background-color: rgba(35, 37, 65, 0.75);
  --poll-background-color: rgba(38, 41, 82, 0.75);
  --color-submit-buttom: #1e1361;
  --color-comment-background: #334564;
  --color-333: #333;
  --color-pagination-background: #11038d;
  --color-scheme: dark;
  --color-inactive: rgb(173, 173, 173);
  --color-table: #204a9e;
  --color-table-button: #346bd8;
  --color-delete-button: #e12c2c;
  --color-checkbox-bg: rgb(28, 59, 159); 
  --progress-bar-color: rgb(18, 49, 151);
  --border-color: #ddd;
}

.logout-button {
  background-color: transparent;
  color: var(--color-dark);
  border: none;
  padding: 0;  
  padding-left: 10px; 
  font-size: inherit;
  cursor: pointer;
}

.logout-button:hover {
  text-decoration: underline;
  background-color: transparent;
}

body {
  background-color: var(--color-background);
  color: var(--color-primary);
  font-family: 'Nunito', sans-serif;
}
/* adding some custom CSS */

nav .mybrand {
  color: var(--color-primary);
}


.profile-picture {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.profile-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative; /* Add this line to position the dropdown relative to the profile container */
}
.profile-container:hover {
  /* Add the desired effect when hovering over the profile container */
  text-decoration: underline;
}


.profile-container span {
  margin-left: 8px;
}
.dropdown-menu {
  display: flex;
  align-items: flex-start;
  position: absolute;
  background-color: var(--color-pagination-background);
  border: 1px solid var(--color-dark);
  border-radius: 0 0 4px 4px;
  padding: 8px;
  right: 8px; /* Adjust the value to add space between the menu and the right edge */
  z-index: 100;
  display: flex;
  flex-direction: column;
  width: auto;
  min-width: 150px;
  top: 100%;
  border-top: none;
}

.dropdown-menu li a {
  /* padding: 4px 8px; */
  margin:  4px 8px;
  display: flex;
  align-items: center;
  color: var(--color-dark);
}

.dropdown-menu li a:not(:last-child) {
  margin-bottom: 4px;
}
